* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Playfair Display', sans-serif;
}
body {
	background-color: #fcfcfc;
	/*background-color: black;*/
}


/*Navbar Start*/
.n {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fcfcfc;
	color: white;
	width: 100%;
	padding: 10px 60px;
	position: fixed;
}
.n-logo2 {
	height: 68px;
	display: block;
}
.n-links ul {
	display: flex;
}
.n-links li {
	list-style: none;
}
.n-links li:hover {
	background-color: #faeacb;
}
.n-links a {
	color: #333;
	font-weight: 500;
	font-size: 20px;
	text-decoration: none;
	padding: 1rem;
	display: block;
}
.n-toggle {
	position: absolute;
	top: 23.5px; /*kapag napalitan ang size ng logo papalitan ko rin ang position ng top para gumitna.*/
	right: 60px;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 21px;
}
.n-toggle .bar {
	height: 3px;
	width: 100%;
	background-color: #333;
	border-radius: 1.5px;
}
@media screen and (max-width: 600px) {
	.n-toggle{
		display: flex;
	}
	.n-links {
		display: none;
		width: 100%;
	}
	.n {
		flex-direction: column;
		align-items: flex-start;
	}
	.n-links ul {
		width: 100%;
		flex-direction: column;
	}
	.n-links li {
		text-align: right;
	}
	.n-links a {
		padding: .5rem 1rem;
	}
	.n-links.active {
		display: flex;
	}
}
/*Navbar Ends*/


.i {
	width: 100%;
	height: 70vh;
	display: flex;
	align-items: center;
	background-color: #faeacb;
	background-image: url('./images/banner-img-1.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: right top;
}

.il-content {
	width: 80%;
	padding: 10px 60px;
	display: block;
}
.il-head {
	display: block;
	font-size: 41px;
}
.il-body {
	display: block;
	margin: 20px 0;
	font-size: 20px;
	font-weight: 400;
}
.il-content button {
	width: 106px;
	height: 36px;
	color: white;
	font-size: 18px;
	border: none;
	border-radius: 18px;
	background-color: #333;
	cursor: pointer;
}

.ir-wrapper {
	width: 100%;
	height: 89.5vh;
	background-image: url('./images/i-bg-img-1.png');
	background-size: cover;
	background-repeat: no-repeat;
}


/* Product Start */
.p-head {
	font-size: 32px;
	font-weight: 500;
	text-align: center;
	margin-top: 40px;
}
.p-class {
	font-size: 24px;
	text-align: center;
	margin-top: 60px;
	margin-bottom: 20px;
}
.p-list {
	padding: 0px 60px;
	display: flex;
	justify-content: space-between;
}
.p-list p {
	font-weight: 500;
}
.card {
	background-color: red;
	width: 350px;
	height: 250px;
}
.card p {
	text-align: center;
}
.card img {
	width: 350px;
	height: 250px;
	object-fit: cover;
}
.list-bottom {
	margin-bottom: 120px;
}
/* Product End */

/* About Start */
.a {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.a-intro {
	width: 400px;
	padding: 20px 0px;
	margin-top: 20px;
	text-align: center;
	font-weight: 500;
}
.a-picture {
	display: flex;
	align-items: center;
}
.a-picture img {
	height: 250px;
	width: 250px;
	border-radius: 50%;
}
.profile {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 0px 40px 20px 40px;
	font-weight: 500;
}
/* About End */

/* Contact Start */
.f {
	background-color: #faeacb;
	padding: 20px 0px 20px 0px;

}
.f-wrapper {
	margin: 20px 60px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.f-card-head {
	font-weight: 500;
	font-size: 20px;
	margin-bottom: 15px;
}
.f-card img {
	width: 20px;
	height: 20px;
}


.f-about a {
	text-decoration: none;
	color: black;
	display: block;
	margin: 5px 0px;
}


.f-contact-content, .f-follow-content {
	display: flex;
	align-items: center;
}
.f-contact-content img, .f-follow-content img {
	margin: 10px 10px 0px 0px;
}

/* Contact End */