* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}

.landing {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
}
.n {
	width: 100%;
	height: 10%;
	padding: 0 5%;
	background-color: crimson;
	display: flex;
	align-items: center;
	justify-content: space-between;
	overflow: hidden;
}
.n-logo {
	background-color: greenyellow;
	height: 138px;
}
.n-links a {
	font-size: 38px;
	background-color: blue;
}
.n-links {
	background-color: gray;
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.i {
	width: 100%;
	height: 90%;
	background-color: lightblue;
	display: flex;
}
.i-left {
	width: 50%;
	height: 100%;
	background-color: orange;
}
.i-right {
	width: 50%;
	height: 100%;
	background-color: violet;
}
.i-img {
	width: 100%;
	height: 100%;
}